.Game .Board {
  flex-grow: 6;
}

.Game .Control {
  flex-grow: 1;
}

.Square {
  height: 50px;
  width: 50px;
  background-color: green;
  margin: 10px;
  position: relative;
}

.UserDot {
  position: absolute;

  top: 20;
  left: 20;

  height: 5px;
  width: 5px;

  z-index: 10;
}

.Row {
  display: flex;
  flex-direction: row;
}
